:root {
  --primary-color: #f5f5f5;
  --secondary-color: #e0e0e0;
  --bg: #f5f7ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg);
}

button {
  cursor: pointer;
}
