.header {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 10px 2vw;
  button {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    border-radius: 5px;
    outline: none;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  .selection {
    width: 200px;
    position: absolute;
    top: 100%;
    background: var(--bg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
    flex-direction: column;
    gap: 10px;
    display: none;

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: rgba(0, 0, 0, 0.6);
    }
    select {
      width: 70px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      padding: 3px;
      cursor: pointer;
    }
  }
  .show {
    display: flex;
  }
}

main {
  width: 100%;
  padding: 10px 2vw;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  > div {
    flex: 1 0 250px;
    max-width: 500px;
    height: fit-content;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
.blue {
  color: rgb(83, 83, 255);
}
.yellow {
  color: rgb(255, 205, 39);
}
.red {
  color: rgb(255, 55, 55);
}
.green {
  color: rgb(0, 169, 0);
}
.img {
  position: relative;
  width: 25px;
  height: 25px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
  span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #fff;
  }
  .online {
    background: rgb(0, 219, 0);
  }
  .offline {
    background: #ccc;
  }
}

.col-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  > div {
    display: flex;
    align-items: center;
    gap: 8px;
    button {
      border: none;
      outline: none;
      background: transparent;
    }
    img {
      border-radius: 50%;
    }
  }
}
